{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'applicationPortal/style.css' %}">
    {% if title %}
    <title>Housing Application - {{ title }}</title>
    {% else %}
    <title>Housing Application</title>
    {% endif %}
</head>

<body>
    <div class="horizontal-rule-header"></div>
    <h1>Dorm Booking Application</h1>
    <div class="main-form">
        <p>Your application has been recieved.</p>
        <p>Thank you for submitting!</p>
    </div>


</body>

</html>