{% extends "applicationPortal/base.html" %}
{% block content %}
 <form action="" method="POST">
    {% csrf_token %}
    <p class="heading">Update your personal information: </p>
    <label for="name" class="form-label">Name: </label>
    <input id="name" type="text" name="name" value="{{ current_name }}">
    <br>
    <label for="phone">Phone: </label>
    {% comment %} <input id="phone" type="text" name="phone" value="{{ current_phone }}"> {% endcomment %}
    <textarea name="phone_numbers" id="phone_numbers" rows="5" placeholder="Enter one phone number per line">{{ form.phone_numbers }}</textarea>

    <button type="submit">OK</button>
</form>

<p class="heading">Select your move-in date:</p>
<input type="radio" id="option1" name="move_in_date" value="2025-08-10">
<label for="option1">August 10</label><br>
<input type="radio" id="option2" name="move_in_date" value="2025-08-11">
<label for="option2">August 11</label><br>
<input type="radio" id="option3" name="move_in_date" value="2025-08-12">
<label for="option3">August 12</label><br>

<button onclick="location.href='/application/page2/'">
    NEXT
</button>
{% endblock content %}