{% extends "applicationPortal/base.html" %}
{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <p>Select your Dorm building: </p>
    <label for="building">Choose here: </label>
    <input id="building" type="text" name="building" list="dorms" value="{{ building }}">
    </br>
    <p>Show available rooms in {{ building }}</p> <button type="submit">OK</button>

    {% comment %}
    will use later
    </br>
    <label for="phone">Choice 2: </label>
    <input id="phone" type="text" name="phone" list="dorms">
    {% endcomment %}

    </br>

    <datalist id="dorms">
        <option value="Stephenson">
        <option value="Rogers">
        <option value="Olympia">
        <option value="Northside">
        <option value="Duncan Dunn">
    </datalist>

    {% if building == 'Stephenson' %}
    <div class="rooms-list">
        <div class="box">
            <h2>ROOM 101</h2>
            <p>Occupancy: 2</p>
            <p>Furnishings: None</p>
        </div>
        <div class="box">
            <h2>ROOM 102</h2>
            <p>Occupancy: 2</p>
            <p>Furnishings: Refrigerator</p>
        </div>
    </div>

    {% endif %}

    <br>
    <br>
    <button onclick="location.href='/application/page1/'">
        PREVIOUS
    </button>

    <button onclick="location.href='/application/confirm/'">
        SUBMIT
    </button>
</form>

{% endblock content %}

{% load static %}

 {% comment %}
    select room and floor
    select single or double (occupancy)
    room furnishings
    check availability
    {% endcomment %}