{% extends "applicationPortal/base.html" %}
{% block content %}
 
    <form action="" method="POST">
        {% csrf_token %}
    <p class="heading">Roommate Preferences: </p>

    <p>Do you drink?</p>
    <input type="radio" name="drink" value="yes" id="drink_yes">
    <label for="drink_yes">YES</label>
    <input type="radio" name="drink" value="no" id="drink_no">
    <label for="drink_no">NO</label>

    <p>Do you smoke?</p>
    <input type="radio" name="smoke" value="yes" id="smoke_yes">
    <label for="smoke_yes">YES</label>
    <input type="radio" name="smoke" value="no" id="smoke_no">
    <label for="smoke_no">NO</label>

    <p>Would you consider yourself tidy or messy?</p>
    <input type="radio" name="cleanliness" value="tidy" id="tidy">
    <label for="tidy">TIDY</label>
    <input type="radio" name="cleanliness" value="messy" id="messy">
    <label for="messy">MESSY</label>

    <p>When do you usually go to bed?</p>
    <input type="radio" name="bedtime" value="early" id="bedtime_early">
    <label for="bedtime_early">EARLY (before 10pm)</label><br>
    <input type="radio" name="bedtime" value="late" id="bedtime_late">
    <label for="bedtime_late">LATE (after 10pm)</label><br>
    <br><br>
<div class="buttons-container">
    <button onclick="location.href='/application/page2/'">
        PREVIOUS
    </button>
    
    <button type="submit">
        SUBMIT
    </button>
</div>
</form>

{% endblock content %}


 {% comment %}
    select room and floor
    select single or double (occupancy)
    room furnishings
    check availability
    {% endcomment %}